global
    log /dev/log    daemon
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    mode http
    balance roundrobin
    # Plan: Distribute traffic evenly between two backend servers
    server web01 1.1.1.1:80 check inter 2000 rise 2 fall 3
    server web02 2.2.2.2:80 check inter 2000 rise 2 fall 3
